.contact-title{
    margin-top: 1em;
}

form{
    width: 90%;
    margin: 2em auto;
}

p{
    width: 90%;
    margin: 1em auto;
    text-align: center;
    font-weight: 500;
}

.col-md-4{
    width: 80%;
    margin-bottom: 1em;
    max-width: 410px;
    margin: 0 auto 1.2em;
    padding: 0;
}

.container-text-button{
    width: 100%;
    text-align: center;
}

.btn.btn-primary{
    margin: 2em 0 0;
}

.form-floating {
    position: relative;
    width: 80%;
    margin: auto;
    padding: 0;
}

.form-floating textarea{
    max-height: 190px;
}

.input-textarea.form-control{
    height: 8em;
    margin: auto;
}

.form-floating>.form-control:not(:placeholder-shown)~label{
    width: 100%;
    padding-top: 0.7em;
}

@media (min-width: 768px){
    .col-md-4{
        margin: 0 auto 1.2em;
        padding: 0;
        width: 70%;
        max-width: none;
    }

    .form-floating {
        position: relative;
        width: 70%;
        margin: auto;
        padding: 0;
    }
}