.header{
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background: black;
    align-items: center;
}

a{
    height: 100%;
}

.logo{
    height: 100%;
}

.contact-button{
    height: 100%;
    border: none;
    background: none;
    color: white;
    margin: 0 5vw;
    font-family: "eurostile", sans-serif;
}
.scale-up-center {
	-webkit-animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000);
    animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  
  