.banner-img{
    width: 100vw;
    height: 20vh;
}

.retrato-img{
    box-shadow: 0px 0px 6px;
    border: 2px solid black;
    height: 36vh;
    border-radius: 50%;
    position: absolute;
    top: 6em;
    left: 0;
    right: 0;
    margin: auto;
}

.presentation{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1{
    font-weight: 800;
    width: 100%;
    margin: 4em auto 0;
    text-align: center;
    font-weight: bolder;
    font-family: "eurostile", sans-serif;
}

h3{
    font-weight: 600;
    width: 100%;
    margin: 0.2em 1em;
    text-align: center;
}

.about-me{
    text-align: justify;
    width: 90vw;
    margin: 1.5em auto;
}

.background-color{
    width: 100%;
    height: 90vh;
    background-color: #faa70fc9;
    position: absolute;
    margin-top: 8em;
}

.container-ilustracion-img{
    width: 100%;
    display: flex;
    z-index: 100;
    position: sticky;
    justify-content: center;
}

.ilustracion-img{
    width: 70vw;
}

.projects-section{
    margin: 2em 0 2.5em;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.projects-section h4{
    text-align: center;
    font-family: "eurostile", sans-serif;
    font-weight: bold;
    width: 100%;
}

.projects-section h6{
    text-align: center;
    font-family: "eurostile", sans-serif;   
    width: 80%; 
}

.project-modal{
    text-align: center;
    width: 60%;
    position: relative;
    margin: 1em 1em;
    border-radius: 10px;
    display: flex;
    box-shadow: 0px 0px 5px #9d7b3ede;
    height: 11em;
}

.project-modal p{
    flex-direction: column;
    justify-content: center;
    font-family: "eurostile", sans-serif;
    height: 60%;
    margin: 0;
    width: 80%;
    margin: auto;
    align-items: center;
    display: flex;
}

.a-project-modal{
    margin-bottom: 0.5em;
    height: 20%;
}

.image-project-modal{
    margin: auto;
    width: 80%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.7s ease;
    background-color: #faa70f;
    border-radius: 10px;
  }
  
  .project-modal:hover .overlay {
    opacity: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}
  
  .title-project-modal {
    font-family: "eurostile", sans-serif;
    font-weight: bold;
    text-decoration: underline;
    color: white;
    font-size: 1.1em;
    width: 100%;
    margin-top: 0.7em;
    height: 20%;
  }

  .p-project-modal{
    font-size: 0.8em;
    color: white;
  }

  .button-project-modal{
    border: 2px solid #f8f4ac;
    background: none;
    color: white;
    border-radius: 50px;
    font-size: 0.9em;
    width: 75%;
    margin: 0 auto 1em;
    font-family: "eurostile", sans-serif;
    font-weight: bold;
  }

  @media (min-width:375px) {
    .image-project-modal{
        width: 60%;
    }
  }

  @media (min-width:450px) {
    .project-modal{
        width: 40%;
        max-width: 187px;
    }

    .subtitle-projects-section{
        width: 100%;
    }

    .ilustracion-img{
        width: 60vw;
    }    
  }

  @media (min-width:560px) {
    h1{
        margin-top: 2.5em;
       }

    .banner-img{
        height: 25vh;
    }    

    .ilustracion-img{
        width: 50vw;
    }   
    }

    @media (min-width:620px) {
       h1{
        margin-top: 1.8em;
       }

       .retrato-img{
            height: auto;
            top: 6em;
            width: 30%;
       }
       
        .banner-img{
            height: auto;
        }    

        /* .retrato-img{ */
            /* width: 25%;
            height: auto;
            top: 9em;
        } */
        
        .about-me{
            font-size: 1.2em;
            width: 70vw;
            margin: 3.5em auto;
        }

        .background-color{
            margin-top: 10em;
            height: 75vh;
        }
        .ilustracion-img{
            width: 32vw;
        }
        
    }

@media(min-width: 768px){
    .retrato-img {
        height: auto;
        top: 6em;
        width: 28%;
      }
}

  @media (min-width:1000px){
    .banner-img{
        transition: 1s;
        width: 100%;
    }

    .container-images:hover .banner-img{
        -webkit-transform:scale(0.1);transform:scale(1.1);
    }

    .container-images:hover .retrato-img{
        box-shadow: 0px 0px 3px #f9a200c9;
    }

    .container-images{
        overflow: hidden;
    }

    .banner-img{
        height: 12em;
        object-fit: cover;
      }
    
      .retrato-img{
        width: 19%;
        top: 6em;
      }
      
    .projects-section h6{
        width: 100%;
    }

    .background-color{
        margin-top: 15em;
    }
  }